.articles {
  background: rgba(255, 255, 255, 0.7);
  font-family: $font-family-base;

  .article-summary {
    background: #fdfdfd;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    height: 500px;
    .avatar {
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      height: 60%;
    }

    .content-article {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 40%;
      padding-right: 20px;
      padding-top: 20px;
      text-align: initial;

      .title {
        font-size: 20px;

        @media screen and (max-width: 450px) {
          font-size: 17px;
        }
      }

      .excerpt {
        font-family: "Esteban";
        @media screen and (min-width: 1000px) {
          padding-right: 100px;
        }

        @media screen and (max-width: 1000px) {
          padding-right: 20px;
        }

        @media screen and (max-width: 463px) {
          font-size: 14px;
        }

        @media screen and (min-width: 463px) and (max-width: 768px) {
          font-size: 17px;
        }
      }

      .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 450px) {
          font-size: 12px;
        }

        @media screen and (min-width: 450px) {
          font-size: 14px;
        }
      }

      @media screen and (max-width: 450px) {
        padding-left: 10px;
      }

      @media screen and (min-width: 450px) {
        padding-left: 40px;
      }

      .date-sm {
        @media screen and (max-width: 450px) {
          font-size: 12px;
        }

        @media screen and (min-width: 450px) {
          font-size: 14px;
        }
      }
    }
  }

  button {
    border-width: 0;
  }
}

.article-html {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 100px;
  font-family: "Esteban";
  text-align: justify;
  padding-bottom: 50px;
  @media screen and (min-width: 1200px) {
    .container {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  h1 {
    font-family: $font-family-base;
    color: #1f2937;
  }

  h2 {
    font-family: $font-family-base;
    color: #1f2937;
  }
  h3 {
    font-family: $font-family-base;
    color: #1f2937;
  }

  h4 {
    font-family: $font-family-base;
    color: #1f2937;
  }

  h5 {
    font-family: $font-family-base;
    color: #1f2937;
  }

  h6 {
    font-family: $font-family-base;
    color: #1f2937;
  }

  p {
    font-family: "Esteban";
    color: #08080b;
  }
  li {
    color: #08080b;
  }
  .info-post-row {
    margin-top: 30px;

    h3 {
      font-size: 16px;
      color: #383838;
    }
  }

  .article-summary {
    background: #fdfdfd;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    height: 500px;
    .avatar {
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      height: 60%;
    }

    .content-article {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 40%;
      padding-right: 20px;
      padding-top: 20px;
      text-align: initial;

      .title {
        font-size: 20px;

        @media screen and (max-width: 450px) {
          font-size: 17px;
        }
      }

      .excerpt {
        font-family: "Esteban";
        @media screen and (min-width: 910px) {
          padding-right: 100px;
        }

        @media screen and (max-width: 910px) {
          padding-right: 20px;
        }

        @media screen and (max-width: 463px) {
          font-size: 14px;
        }

        @media screen and (min-width: 463px) and (max-width: 768px) {
          font-size: 17px;
        }
      }

      .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 450px) {
          font-size: 12px;
        }

        @media screen and (min-width: 450px) {
          font-size: 14px;
        }
      }

      @media screen and (max-width: 450px) {
        padding-left: 10px;
      }

      @media screen and (min-width: 450px) {
        padding-left: 40px;
      }

      .date-sm {
        @media screen and (max-width: 450px) {
          font-size: 12px;
        }

        @media screen and (min-width: 450px) {
          font-size: 14px;
        }
      }
    }
  }

  button {
    border-width: 0;
  }

  @media screen and (min-width: 1522px) {
    .more-articles {
      width: 80%;
      p {
        font-family: "Montserrat";
        color: #383838;
      }
    }
  }

  @media screen and (max-width: 1522px) and (min-width: 1353px) {
    .more-articles {
      width: 90%;
      p {
        font-family: "Montserrat";
        color: #383838;
      }
    }
  }

  @media screen and (max-width: 1353px) {
    .more-articles {
      width: 95%;
      p {
        font-family: "Montserrat";
        color: #383838;
      }
    }
  }
}
