.call-to-action {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 30%,
    #fbecef 20%
  );
  font-family: $font-family-base;

  .call-to-action-container {
    background-color: white;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  form {
    justify-content: center;
    align-items: center;
    display: flex;

    @media screen and (max-width: 450px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  input {
    border-radius: 50px;
    background-color: #fbecef;
    line-height: 2.3em;
    width: 50%;
    font-size: 16px;
    border-width: 0;
    padding-left: 20px;
    outline: none;

    ::placeholder {
      color: #4686d8;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  h3 {
    text-align: center;
    font-size: 18px;
  }

  p {
    text-align: center;
    font-family: "Esteban";
    color: #383838;
  }

  button {
    border-width: 0;
    margin-left: -50px;
    font-weight: bold;

    @media screen and (max-width: 450px) {
      margin-left: 0px;
      margin-top: 10px;
      align-self: center;
    }
  }

  .image1 {
    margin-top: -80px;
  }

  .image2 {
    margin-bottom: 20px;
  }
}
