.header {
  color: black;
  background-color: #fbecef;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  padding: 30px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }

  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 10px;
  }

  p {
    line-height: 10px;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
